<!DOCTYPE html>
<html>
<head>
  <title>Hack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/lib/syntaxhighlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="js/lib/syntaxhighlighter/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="js/jquery.overlay.js"></script>
  <script type="text/javascript" src="js/site.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
